@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@700;800&display=swap');

:root {
  --font-body: 'Inter', Helvetica, sans-serif;
  --font-headline: 'Poppins', "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #0A1121;
  --secondary-color: #1C1E23;
  --accent-color-1: #00E5FF;
  --accent-color-2: #FFD700;
  --light-text: #F7F8FA;
  --dark-text: #0A1121;
  --secondary-text: #A0AEC0;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}